body{
    --color-primary: #010101;
    --color-card: #121212;
    font-size: 20px;
    height: 100vh;
    background: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    cursor:url(custom.cur), auto;
    padding: 5rem;
}
img{
    margin-top:1rem;
    transform: scale(0.9);
    
}
#card{
background-color: var(--color-card);
border-radius: 30px;
transform: scale(0.8);
height:100%;
display: flex;
justify-content: center;

}

#name{
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.219);
    text-align: center;
    width: 50%;
 
}


a{
    text-decoration: none;
    text-decoration-style: none;
    border-style: none;
}
a:hover{
    text-decoration: none;
    text-decoration-style: none;
    border-style: none;

}
.socials{
    text-align:center;
    transform: scale(1.3);
    word-spacing: 10px;
    text-decoration-line: none;
}
#discord{
    color: white;
    transition: all 0.5s;
}
#discord:hover{
    color: gray;
    transform: scale(1.2);
}
#spotify{
    color: white;
    transition: all 0.5s;
}
#spotify:hover{
    color: gray;
    transform: scale(1.2);

}
#instagram{
    color: white;
    transition: all 0.5s;
}
#instagram:hover{
    color: gray;
    transform: scale(1.2);
}
#em{
    opacity: 100%;
    transition: all 0.5s;

}
#em:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#erian{
    opacity: 100%;
    transition: all 0.5s;

}
#erian:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#sye{
    opacity: 100%;
    transition: all 0.5s;

}
#sye:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#andrea{
    opacity: 100%;
    transition: all 0.5s;

}
#andrea:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#tyler{
    opacity: 100%;
    transition: all 0.5s;

}
#tyler:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#tae{
    opacity: 100%;
    transition: all 0.5s;

}
#tae:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#cam{
    opacity: 100%;
    transition: all 0.5s;

}
#cam:hover{
    opacity: 100%;
    transform: scale(1.1);

}

